[submodule "databases/local"]
	path = databases/local
	url = git@gitpapl1.uth.tmc.edu:big-arc/research/autotte-local.git
[submodule "results/uric-acid"]
	path = results/uric-acid
	url = git@gitpapl1.uth.tmc.edu:big-arc/research/autotte-uric-acid.git
[submodule "results/colonoscopy"]
	path = results/colonoscopy
	url = git@gitpapl1.uth.tmc.edu:big-arc/research/autotte-colonoscopy.git
[submodule "results/leader"]
	path = results/leader
	url = git@gitpapl1.uth.tmc.edu:big-arc/research/autotte-leader.git
